package views

import "github.com/lsshawn/go-todo/views/layout"

templ Index() {
	@layout.Base() {
		<div class="h-screen w-screen bg-black flex flex-col justify-center items-center relative text-white">
			Go!
		</div>
	}
}
