package user

import (
"views/layout"
"views/components"
"internal/model"
)

func getAuthUser(c context.Context) string {
user, ok := c.Value("user").(string)
if !ok {
return ""
}
return user
}

templ Show(user model.User) {
<div>
  { getAuthUser(ctx) }
</div>
@layout.Base() {
<h1>Show User { user.Email }</h1>
@components.Input("email", "email")
}
}
